$icon-color: #4056A1;
$icon-hover-color: goldenrod;
$tweet-shadow-color: lightgrey;
$tweet-border-color: #545149;

.tweet {
  display: flex;
  flex-direction: column;
  border: 4px solid $tweet-border-color;
  padding-top: 15px;
  margin-bottom: 25px;
}

.tweet:hover {
  box-shadow: 6px 6px $tweet-shadow-color;
}

.icons {
  color: $icon-color;
  font-size: 12px;
}

.fa-flag:hover {
  color:$icon-hover-color;
}

.fa-retweet:hover {
  color:$icon-hover-color;
}

.fa-heart:hover {
  color:$icon-hover-color;
}

.fa-solid {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 50px;
  margin: 0 auto;
}

article.tweet img {
  width: 40px;
  height: 40px;
}

.username {
  display: flex;
  align-items: center;
}

.handle {
  font-weight:bold;
  color:$tweet-shadow-color;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 45px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
}

.tweet-data {
  display: flex;
  align-items: center;
  width: 97%;
  height: 90px;
  margin: 0 auto;
  border-bottom: 4px solid $tweet-border-color;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 22px;
  font-weight:bold;
}
